apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: cluster-udapeople
  region: us-east-1

nodeGroups:
  - name: cluster-udapeople
    instanceType: t2.medium
    amiFamily: AmazonLinux2
    desiredCapacity: 2
    volumeSize: 80
    ssh:
      allow: true # will use ~/.ssh/id_rsa.pub as the default ssh key
      publicKeyName: udapeople